# Node.js
**/node_modules/
**/build/
**/dist/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
**/__pycache__/
*.py[cod]
*$py.class
**/venv/
**/.venv/
**/env/
**/.env/
backend/uploads/*
!backend/uploads/.gitkeep

# Editor settings
.vscode/
.idea/
.DS_Store
Thumbs.db
